body>* {
    border: 1px solid #000;
    margin: 5px;
    text-align:center;
    font-size: 2rem; 

}
header {
    padding: 3px;
    height: 20vh;
    text-align: center;
    padding-top: 10px
}

nav {
    padding: 3px;
    height: 5vh;
    text-align: center;
}

main {
    padding: 3px;
    height: 65vh;
    text-align: center;
    padding-top: 500px;

}

footer {
    padding: 3px;
    height: 20vh;
    text-align: center;
    padding-top: 10px
}