body>* {
    border: 2px solid #000; 
    height: 100px;
    margin: 2px;
    text-align: center;
    font-size: 2rem;

}

nav {
    height: 50px;
}

main {
    height: 80vh;  
}

aside {
    float: left;
    width: 50%;
    height: 80vh;
    border: #000 1px solid;
    text-align: center; 
    line-height: 500px; 

}

section {
    float: right;
    width: 49%;
    height: 80vh;
    border: #000 1px solid;
    text-align: center; 
    line-height: 500px; 
}
